.app-wrapper {
  display: grid;
  width: 1400px;
  margin: 0 auto;

  grid-template-areas: 'header header';
  grid-template-rows: 60px 1fr;
  grid-template-columns: 2fr 10fr;
  grid-gap: 10px;
}

a {
  text-decoration: none;
  color: black;
}

.app-wrapper-content {
  /*grid-area: content;*/
  /*background-color: aqua;*/
  border: 1px solid black;
}


